.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: relative;
    border: none;
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.tooltip:hover + .tooltip-text {
    display: block;
}

.tooltip-text {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    width: 150px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
